$colors: (
  primary : 	#39649A,
  secondary: 	#0C2748,
  success:		#36BD77
);

$grays: (
  dark    : #565B61,
  base    : #909090,
  light   : #F7F4F4
);

$color-text: 	#333333;
$body-color:  #F1F2F4;