$base-color-link: 						map-get($colors, primary);
$base-color-link-hover: 			darken($base-color-link, 15%);

a {
  text-decoration: none;
  color: $base-color-link;

  &:hover,
  &:focus {
    color: $base-color-link-hover;
  }

  .b-header & {
  	color: gray(dark);
  }

}