<h3 class="sg__subtitle">Buttons</h3>

<div class="o-bottom-spacing">
	<h4>STYLES</h4>
	<div class="o-bottom-spacing-small">
		<button class="button button--primary">Default</button>
		<button class="button button--primary button--rounded">Rounded</button>
		<button class="button button--primary button--simple">Simple</button>
		<button class="button button--primary button--icon">
			{{ import_svg(app.build_dir ~ 'images/svgs/icon.svg') }} 
			<span>Icon</span>
		</button>
	</div>
	<div>
		<button class="button button--secondary">Default</button>
		<button class="button button--secondary button--rounded">Rounded</button>
		<button class="button button--secondary button--simple">Simple</button>
		<button class="button button--secondary button--icon">
			{{ import_svg(app.build_dir ~ 'images/svgs/icon.svg') }} 
			<span>Icon</span>
		</button>
	</div>
</div>

<div class="o-bottom-spacing">
	<h4>SIZES</h4>
	<div class="o-bottom-spacing-small">
		<button class="button button--primary button--x-small">X-small</button>
		<button class="button button--primary button--small">Small</button>
		<button class="button button--primary">Default</button>
		<button class="button button--primary button--big">Big</button>
	</div>
	<div>
		<button class="button button--secondary button--x-small">X-small</button>
		<button class="button button--secondary button--small">Small</button>
		<button class="button button--secondary">Default</button>
		<button class="button button--secondary button--big">Big</button>
	</div>
</div>

<div class="o-bottom-spacing">
	<h4>COLORS</h4>
	<button class="button button--primary">Primary</button>
	<button class="button button--secondary">Secondary</button>
</div>