<!-- Main Colors -->
<h3 class="sg__subtitle">Colors</h3>

<div class="sg__colors">
{% for colors in 1..24 %}
  <div class="sg__color small-6 medium-4 large-3 columns"></div>
{% endfor %}
</div>

<!-- Gray Scale -->
<h3 class="sg__subtitle">Gray Scale</h3>

<div class="sg__grays">
{% for colors in 1..24 %}
  <div class="sg__color small-6 medium-4 large-3 columns"></div>
{% endfor %}
</div>
