<h3 class="sg__subtitle">Links</h3>

<div class="sg__section">
 	<p><a href="#">Link</a></p>
 	<p><a href="#" class="o-underlined-link">Underlined link</a></p>
 	<p><a href="#" class="o-neutral-link">Neutral link</a></p>
 	<p><a href="#" class="o-neutral-link o-underlined-link">Neutral link</a></p>
</div>
