<h3 class="sg__subtitle">Lists</h3>

<div class="sg__section">
  <h4 class="sg__section__title">List Ordered</h4>
  <ol>
    <li>Browse the applications we've listed.</li>
    <li>When you find the app want to deploy, send us a quick note to brigade-info@codeforamerica.org to let us know which one. We'll use the information to help you get started and to report back to the community which apps people care about maintaining.</li>
    <li>Host a launch-a-thon to get your app off the ground. Use our MeetUp Everywhere.</li>
  </ol>
</div>

<div class="sg__section">
  <h4 class="sg__section__title">List Unordered</h4>
  <ul>
    <li>Name</li>
    <li>Location</li>
    <li>Brigade and/or Affiliations.</li>
    <li>Something you want to get from the forum or something you want to get done.</li>
    <li>Anything else you want to add but don't write a book. There's plenty of time to get to know one another.</li>
  </ul>
</div>

<div class="sg__section">
  <h4 class="sg__section__title">Description List</h4>
  <dl>
    <dt>Telefono</dt>
    <dd itemprop="telephone"><a href="tel:0541.1871504">0541.1871504</a></dd>
    <dt>Fax</dt>
    <dd itemprop="faxNumber">0541.734325</dd>
  </dl>
</div>
