{% extends "layouts/layout.html.twig"%}

{% block header %}
  {% include 'blocks/header.html.twig' %}
{% endblock %}

{% block footer %}
{% endblock %}

{% block content %}
  
  <section class="o-bottom-spacing">
    <div class="row">
      <div class="column">
        <h1>Headings</h1>
        <h2>Headings</h2>
        <h3>Headings</h3>
        <h4>Headings</h4>
        <h5>Headings</h5>
        <h6>Headings</h6>
      </div>
    </div>
  </section>

  <section class="buttons">
    <div class="row">
      <div class="column">
        {% include 'blocks/buttons.html.twig' %}
      </div>
    </div>
  </section>

{% endblock %}

{% block javascript %}
{% endblock %}