/*------------------------------------*\
    SVG Fallback
\*------------------------------------*/
@mixin svgfallback($svg, $png) {
  background-image: url(../images/#{$png});
  background-image: linear-gradient(transparent, transparent), url(../images/#{$svg});
}

/*------------------------------------*\
    Animations
\*------------------------------------*/

// Usage: @include keyframes(slide-down)
@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    }
    @-ms-keyframes #{$animation-name} {
        @content;
    }
    @-o-keyframes #{$animation-name} {
        @content;
    }
    @keyframes #{$animation-name} {
        @content;
    }
}

// Usage: @include animation('slide-down 5s 3');
@mixin animation($str) {
  animation: #{$str};
}
