<header class="c-header">
  <div class="c-header__logo">
  	<a href="#">
  		{{ import_svg(app.build_dir ~ 'images/svgs/logo.svg') }}
  	</a>
  </div>
  <div class="c-header__companies">
  	Sei un' azienda e cerchi personale? <a href="#"><strong>Registrati GRATIS</strong></a>
  </div>
  <div class="c-header__companies--mobile">
  	<a href="#">Per le aziende</a>
  </div>
</header>