<section class="c-hero{% if hero_modifier is defined %} {{ hero_modifier }}{% endif %}">
	<div class="row">
		
		<div class="c-hero__header column">
			{% include 'blocks/header.html.twig' %}
		</div>

		<div class="c-hero__main column">
			<h1>Voglio inviare il mio curriculum <strong>a migliaia di aziende.</strong></h1>
			<h2>Genera online il tuo curriculum e invialo in un click  a tutte le aziende del tuo settore a partire da € 29,00</h2>
		</div>

		<div class="c-hero__cta column">
			<a href="#" class="button button--primary">
				<strong>Invia ora</strong> il tuo curriculum
			</a>
		</div>

	</div>
</section>