<section class="c-hero{% if hero_modifier is defined %} {{ hero_modifier }}{% endif %}">
	<div class="row">
		
		<div class="c-hero__header column">
			{% include 'blocks/header.html.twig' %}
		</div>

	</div>
</section>