<div class="c-testimonial">
	<div class="c-testimonial__image">
		<img src="{{app.asset_url}}images/testimonial.png" alt="">
	</div>
	<div class="c-testimonial__text">
		L'ho utilizzato per trovare lavoro come cuoco. Ho inviato la mia presentazione a tutte le strutture di Rimini. A Giugno ho firmato il contratto. Perfetto!
	</div>
	<div class="c-testimonial__name">
		<strong>Carla S. (Venezia)</strong>
	</div>
</div>