<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

    <title>Pronto Impiego</title>
    <meta name="description" content="Pronto Impiego">

    {% if app.env == 'dev' %}
      <link rel="stylesheet" href="{{ app.asset_url }}css/main.css" />
    {% else %}
      <link rel="stylesheet" href="{{ app.asset_url }}css/main.min.css" />
    {% endif %}

    {% block javascripts_head %}{% endblock %}
  </head>
  <body>
    
    {% block header %}
    {% endblock %}

    <main class="main">
      {% block content %}
      {% endblock %}
    </main>

    {% block footer %}
    {% endblock %}


    <script src="{{ app.asset_url }}js/footer.min.js"></script>

    {% block javascript %}
    {% endblock %}

  </body>
</html>
